
:root {
    --font-color: #141414;
    --main-bg-color: #FEFDFF;
    --main-border-color: #57737A;
    --main-bad-feel: #B80C09;
    --main-good-feel: #63C132;
  }

html, body {
    margin: 0;
    background-color: var(--main-bg-color);
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90%;
    padding-bottom: 10%;
}

.canvas {
    max-width: 50%;
    width: 30%;
}